<%- include('header'); -%>

        <div class="box" id="heading">
            <h1> <%=listTitle%></h1>
        </div>
            <div class="box">
                
                <ul>
                <%if(items.length >0){%>
                    <%items.forEach(item => { %>
                        <form action="/delete" method="post">
                        <p class="item"><input type="checkbox" name="checkbox" value="<%= item._id%>"onChange="this.form.submit()">  <%=item.name%></p>
                        </form>
                    <%})%>
                <%}%>
                    </ul>

                <form action="/" method="post" class="item">
                    <input type="text" name="item" placeholder="New Item" autocomplete="off">
                    
                    <button type="submit" name="list" value= <%=listTitle %> >+</button>
                </form>

            </div>
           
<%- include('footer'); -%>
       
           
